body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141424;
    font-family: Arial;
    padding: 10px;
}

.calculator {
    width: 100%;
    max-width: 380px;
    background: #2c2c3e;
    padding: 15px;
    border-radius: 25px;
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    text-align: right;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #1e1e2f;
    color: #fff;
    padding: 10px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

button {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    background: #4e4e6a;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
}

.gray {
    background: #3a3a52;
    border-radius: 35px;
    flex: 1;
}

.op {
    background: #6c6c8f;
}

#equal {
    width: 100%;
    height: 65px;
    border-radius: 35px;
    background: orange;
    margin-top: 10px;
}

@media (max-width: 768px) {
    button {
        height: 55px;
        width: 55px;
        font-size: 16px;
    }

    input {
        height: 60px;
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    button {
        height: 50px;
        width: 50px;
        font-size: 14px;
    }

    input {
        height: 55px;
        font-size: 22px;
    }
}